<div>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Patient Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='#medicine'>Medicine</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" >
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" ng-model="id" />
        <button class="btn btn-outline-success my-2 my-sm-0" ng-click="getPatientByID()" >Search</button>
      </form>
    </div>
  </nav>

<div class="acc-kontainer">          
     <div>
       <input type="radio" name="acc" id="acc1" checked>
       <label for="acc1"><i class="fa fa-map-marker"></i> View Patients</label>
       <div class="acc-body">
          <div class="table-responsive-xl">
  
          <table class="table">
            <thead>
            <tr>
                <th scope="col">Patient ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Phone</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in patData">
                <td>{{ x.patID }}</td>
                <td>{{ x.patFirstName }}</td>
                <td>{{ x.patLastName }}</td>
                <td>{{ x.patGender}}</td>
                <td>{{ x.patMobile }}</td>
                <td><a ng-click="editPatient( x )" class="btn">Edit</a> | <a ng-click="removePatient( x )" class="btn">Remove</a></td>
            </tr>
 			</tbody>
        </table>
 </div>
 
       </div>
      </div>
     <div>
        <input type="radio" name="acc" id="acc2">
        <label for="acc2"><i class="fa fa-heart"></i> Add/Edit Patient</label>
        <div class="acc-body">
        <form ng-submit="createPatient()">
        <div class="table-responsive-xl">
            <table class="table">
            <tbody>
                <tr>
                    <td>First Name</td>
                    <td><input type="text" ng-model="form.patFirstName" size="60" /></td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td><input type="text" ng-model="form.patLastName" size="60" /></td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td><input type="number" ng-model="form.patMobile" size="60" /></td>
                </tr>
                <tr>
                    <td>Please select your gender:</td>
                    <td>
					<div class="form-check-inline">
      					<label class="form-check-label" for="radio1">
        					<input type="radio" class="form-check-input" id="radio1" name="gender" value="Male" ng-model="form.patGender"  />Male
              			</label>
    				</div>
    				<div class="form-check-inline">
      					<label class="form-check-label" for="radio2">
        					<input type="radio" class="form-check-input" id="radio2" name="gender" value="Female" ng-model="form.patGender" />Female
      					</label>
    				</div>
    				<div class="form-check-inline">
      					<label class="form-check-label" for="radio3">
        					<input type="radio" class="form-check-input" id="radio3" name="gender" value="other" ng-model="form.patGender" />Other
      					</label>
    				</div>
					
                    </td>
                </tr>
                <tr>
                <td>Date of Birth</td>
                <td><input type="date" id="datepicker1"   ng-model="form.patDOB" width="276" /></td>
                </tr>
                <tr>
                <td>Date of First Visit</td>
                <td><input type="date" id="datepicker2"   ng-model="form.patFirstVisit" width="276" /></td>
                </tr>
                <tr>
                    <td>Are you Diabetic?</td>
                    <td>
                                     
						<div class="form-check-inline">
					        <label class="form-check-label" for="radio4">
					             <input type="radio" class="form-check-input" id="radio4" name="diaFlag" ng-model="form.patHealthStat.diabeticFlag" value="true"  />Yes
					        </label>
					    </div>
					    <div class="form-check-inline">
					      	<label class="form-check-label" for="radio5">
					        	<input type="radio" class="form-check-input" id="radio5" name="diaFlag" ng-model="form.patHealthStat.diabeticFlag" value="false" />No
					        </label>
					    </div>
    
		    		
                   </td>
                </tr>
  				        <tr>
                    <td>Blood Pressure Level</td>
                    <td>
                    
                    <div class="form-check-inline">
      					<label class="form-check-label" for="radio6">
        					<input type="radio" class="form-check-input" id="radio6" name="BPFlag" value="Normal" ng-model="form.patHealthStat.bloodPressure" />Normal
              			</label>
    				</div>
    				<div class="form-check-inline">
      					<label class="form-check-label" for="radio7">
        					<input type="radio" class="form-check-input" id="radio7" name="BPFlag" value="High" ng-model="form.patHealthStat.bloodPressure" />High
      					</label>
    				</div>
    				<div class="form-check-inline">
      					<label class="form-check-label" for="radio8">
        					<input type="radio" class="form-check-input" id="radio8" name="BPFlag" value="Low" ng-model="form.patHealthStat.bloodPressure" />Low
      					</label>
    				</div>
                  
                   </td>
                </tr>
  				 <tr>
                    <td colspan="2"><input class="btn btn-primary" type="submit" value="Submit" /></td>
                </tr>
                </tbody>
            </table>
    	</div>
    	</form>
        </div>
      </div>
     <!-- <div>
        <input type="radio" name="acc" id="acc3">
        <label for="acc3"><i class="fa fa-music"></i> What is my hobby?</label>
        <div class="acc-body">
          i love music <i class="fa fa-headphones"></i>, watching movie <i class="fa fa-film"></i>, Designing maybe <i class="fa fa-code"></i>
        </div>
       </div> -->
  </div>
   
  
 
        <!-- <button type="button" class="btn btn-primary" ng-click="createData()">Create Patient</button> -->
 		